:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}


*{
    margin: 0;
    padding: 0;

    /* Mudar para não deixar quando o padding aumenta,  quando coloca alguma width*/
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body{
    background:#f0f0f5 ;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}


/*
Box model
Modelo de caixa
toda caixa tem
largura, altura, espaçamentos, preenchimentos
bordas, cor, fundo, maneira que e vista pelo html(display), alinhamentos, posicionamentos
*/
